.titu{
  text-align: center;
  color: #458DFC;
  margin-top: 40px;
  margin-bottom: 10px;
}



.datostarjeta{
  color: black;
  width: 1000px;
  position: relative; 
  background-color:#fff;

}

.negritas{
  font-weight: 500;
}
.Año{
  color:#fff
}


.boton{
  padding: 6%;
}

.datos{
  width: 500px;
  margin-bottom: 20px;
  background-color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}
.citas{
  font-size: medium;
}

.formato{
  background-color: rgb(60, 144, 192);
  margin: 50px;
  width: 400px;
}

.Number{
  background-color: #fff;
}



.resumen{
  text-align: center;
  padding: 50px;
}

.finalizarPago{
  padding: 10%;
  
}

.imagenes{
  background-color: #fff;
  margin: 50px;
  margin-left: 30px;
  
}



h5{
  text-align: center;
  color: gray;
  padding: 5px;
}

.encabezado2{
  padding: 8%;
}

.App-header {
  background-color: rgb(252, 252, 252);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.textofinal{
  color: black;
  font-size: unset;
  font-weight: initial;
  text-align: center;
  
}




.footer-row{
  background-image: linear-gradient(180deg, #48bcf6, #458dfc);
  bottom: 0;
  width: 100%;
  height: 80px;
  color: whitesmoke;
  padding: 30px;
  text-align: center;
}
